
@font-face {font-family: "iconfont";
  src: url('./icons/iconfont.eot?t=1537846010084'); /* IE9*/
  src: url('./icons/iconfont.eot?t=1537846010084#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAARAAAsAAAAABqwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFY8dkfzY21hcAAAAYAAAABQAAABfn5D6qlnbHlmAAAB0AAAAHkAAACYeihltWhlYWQAAAJMAAAALwAAADYSvtvyaGhlYQAAAnwAAAAcAAAAJAfeA4RobXR4AAACmAAAAAwAAAAMDAAAAGxvY2EAAAKkAAAACAAAAAgAJgBMbWF4cAAAAqwAAAAfAAAAIAEOAB5uYW1lAAACzAAAAUUAAAJtPlT+fXBvc3QAAAQUAAAAKQAAADreTLiteJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2BkYWCcwMDKwMHUyXSGgYGhH0IzvmYwYuRgYGBiYGVmwAoC0lxTGByeMTxjZG7438AQw9zA0AAUZgTJAQDdOAvkeJztkLENgDAMBM+JoUCMQUHBMFTsX7FG8rYZg5fupH+5MrAAXVzCwR6MyK3Vcu9suTtH3njsr40hE1b3dJNW/uzp82st/lTU5wraBMdEC1F4nGNgZGD4f4BJjtmRQZCBgZWT0cxETYmdkU2cTZxRzMjMhEn0XzljJ6eIJNe/FG4mJm7GOVySIpyMnYydXFLCnEAxfgGefylAeQYgAJvFfAhulpqJmRHQGHYxoIFKaiaMbxk7/5VziUhxMs4BmQXUJ4XLLADciRuqAAAAeJxjYGRgYABizjkZefH8Nl8ZuFkYQOD6+dO/EPT/AywMzI5ALgcDE0gUAEqVDBMAeJxjYGRgYG7438AQw8IAAkCSkQEVMAMARwkCbAQAAAAEAAAABAAAAAAAAAAAJgBMeJxjYGRgYGBmEGIA0QwMTEDMBYQMDP/BfAYACnQBLQB4nGWPTU7DMBCFX/oHpBKqqGCH5AViASj9EatuWFRq911036ZOmyqJI8et1ANwHo7ACTgC3IA78EgnmzaWx9+8eWNPANzgBx6O3y33kT1cMjtyDRe4F65TfxBukF+Em2jjVbhF/U3YxzOmwm10YXmD17hi9oR3YQ8dfAjXcI1P4Tr1L+EG+Vu4iTv8CrfQ8erCPuZeV7iNRy/2x1YvnF6p5UHFockikzm/gple75KFrdLqnGtbxCZTg6BfSVOdaVvdU+zXQ+ciFVmTqgmrOkmMyq3Z6tAFG+fyUa8XiR6EJuVYY/62xgKOcQWFJQ6MMUIYZIjK6Og7VWb0r7FDwl57Vj3N53RbFNT/c4UBAvTPXFO6stJ5Ok+BPV8bUnV0K27LnpQ0kV7NSRKyQl7WtlRC6gE2ZVeOEXpc0Yk/KGdI/wAJWm7IAAAAeJxjYGKAAC4G7ICZkYmRmZGFgS0tMS+jNJM9PTUvPaU0n4EBADcqBY0AAAA=') format('woff'),
  url('./icons/iconfont.ttf?t=1537846010084') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./icons/iconfont.svg?t=1537846010084#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:40px;
  color: white;
  background-color: #c8e3ee;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before { content: "\e600"; }

.icon-gengduo:before { content: "\e601"; }

